web_socket:
  url: ws://127.0.0.1:8080/ws
  token:
  auto_reconnect: false

agent:
  num: 5
  team: kanolab
  kill_on_timeout: true

llm:
  type: openai
  sleep_time: 1

openai:
  model: gpt-4o-mini
  temperature: 0.7

google:
  model: gemini-2.0-flash-lite
  temperature: 0.7

ollama:
  model: llama3.1
  temperature: 0.7
  base_url: http://localhost:11434

prompt:
  initialize: |-
    あなたはゲームのエージェントです。
    あなたの名前は{{ info.agent }}です。

    これから複数人のエージェントとの対話ゲームを進行していきます。リクエストが来た際には、適切な応答を返してください。

    トークリクエストに対しては、ゲーム内で発言するべき内容のみを出力してください。
    履歴がある場合は、それを参考にしてください。ない場合は、適切な内容を出力してください。
    これ以上の情報を得られないと考えたときなどトークを終了したい場合については「Over」と出力してください。

    {% if info.profile is not none -%}
    あなたのプロフィール: {{ info.profile }}
    {%- endif %}

    あなたのレスポンスはそのままゲーム内に送信されるため、不要な情報を含めないでください。
  daily_initialize: |-
    昼開始リクエスト
    {{ info.day }}日目
  talk: |-
    トークリクエスト
    履歴:
    {% for w in talk_history[sent_talk_count:] -%}
    {{ w.agent }}: {{ w.text }}
    {% endfor %}
  daily_finish: |-
    昼終了リクエスト
    {{ info.day }}日目

log:
  console_output: true
  file_output: true
  output_dir: ./log
  level: debug

  request:
    name: false
    initialize: false
    daily_initialize: false
    talk: true
    daily_finish: false
    finish: false
