web_socket:
  url: ws://127.0.0.1:8080/ws
  token:
  auto_reconnect: false

agent:
  num: 5
  team: kanolab
  kill_on_timeout: true

path:
  random_talk: ./resource/2019071_44011_AIWolfTalkLogs.txt

log:
  console_output: true
  file_output: true
  output_dir: ./log
  level: debug

  request:
    name: false
    initialize: false
    daily_initialize: false
    whisper: true
    talk: true
    daily_finish: false
    divine: true
    guard: true
    vote: true
    attack: true
    finish: false
