[websocket]
url = ws://127.0.0.1:8080/ws
token = 
auto_reconnect = false

[agent]
num = 5
team = kanolab

[gemini]
api_key = PASTE_KEY_HERE
model = gemini-2.0-flash-lite

[log]
console_output = true
file_output = true
output_dir = ./log
level = info

name = false
initialize = false
daily_initialize = false
whisper = true
talk = true
daily_finish = false
divine = true
guard = true
vote = true
attack = true
finish = false